{% extends 'base.html' %}

{% block css_style %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/add_food.css') }}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="add_food_content">
        <div class="add_food_content_title">
            <h1>Food Details</h1>
        </div>
        <div class="add_food_content_details">
            <form method="POST" action="{{ url_for('add_food') }}" >
                <ul>
                    <li>
                        <div class="add_food_form_row">
                            <label for="food_name">Food Name</label>
                            <input autocomplete="off" type="text" name="food_name" id="food_name" autofocus>
                        </div>
                    </li>
                    <li>
                        <div class="add_food_form_row">
                            <label for="food_protein">Protein</label>
                            <input autocomplete="off" type="number" name="food_protein" id="food_protein" value="0">
                        </div>
                    </li>
                    <li>
                        <div class="add_food_form_row">
                            <label for="food_carbs">Carbohydrates</label>
                            <input autocomplete="off" type="number" name="food_carbs" id="food_carbs" value="0">
                        </div>
                    </li>
                    <li>
                        <div class="add_food_form_row">
                            <label for="food_fat">Fat</label>
                            <input autocomplete="off" type="number" name="food_fat" id="food_fat" value="0">
                        </div>
                    </li>
                </ul>
                <input class="add_food_button" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div>
        <h1>Food Catalogue</h1>
        {% for food in foods %}
            <div>
                <h2>{{ food.name }}</h2>
                <h2>{{ food.protein }}</h2>
                <h2>{{ food.carbohydrates }}</h2>
                <h2>{{ food.fat }}</h2>
                <form method="POST" action="{{ url_for('add_food') }}">
                    <input type="text" value="{{ food.id }}" name="food_id" hidden>
                    <input type="submit" value="Edit">
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}