{% extends 'base.html' %}

{% block css_style %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/food_catalogue.css') }}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="food_cat_content">
        {% if foods|length == 0 %}
            <a href="{{ url_for('add_food') }}">
                <h1 class="no_food">You have not added any food, click here to add something new!</h1>
            </a>
        {% else %}
            <div class="food_items">
                {% for food in foods %}
                    <a href="/edit_food/{{ food.id }}">
                        <div class="food_item">
                            <h2 class="food_name">{{ food.name }}</h2>
                            <h2>Protein: {{ food.protein }}</h2>
                            <h2>|</h2>
                            <h2>Carbohydrates: {{ food.carbohydrates }}</h2>
                            <h2>|</h2>
                            <h2>Fat: {{ food.fat }}</h2>
                            <h2>|</h2>
                            <h2>Calories: {{ food.calories }}</h2>
                            <input class="edit_button" type="submit" value="Edit">
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}